* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  /* max-width: 1600px; */
  font-size: 62.5%;
}

.banner {
  position: relative;
  width: 100%;
  max-width: 700px;
  min-height: 300px;
  margin: 20px auto;
  background-image: url(/images/Banner\ Image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner h3 {
  font-size: clamp(1.5rem, 3vw, 3.2rem);
  color: white;
  text-align: center;
}
.banner h2 {
  font-size: clamp(2.5rem, 4vw, 4.2rem);
  color: white;
  text-align: center;
}
@media (min-width: 1024px) {
  .banner {
    width: 100%;
    max-width: 980px;
    min-height: 500px;
    margin: 50px auto;
    background-image: url(/images/Banner\ Image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .banner h3 {
    font-size: clamp(1.5rem, 3vw, 3.2rem);
    color: white;
    text-align: center;
  }
  .banner h2 {
    font-size: clamp(2.5rem, 4vw, 4.2rem);
    color: white;
    text-align: center;
  }
}
